<launch>
     <arg name="gui" default="true" />

     <!-- send the cogimon robot XML to param server -->
     <param name="robot_description" textfile="$(find tutorial_iros2018)/robots/reemc/reemc.urdf"/>
     <!-- param name="robot_description_semantic" textfile="$(find cogimon_srdf)/srdf/cogimon.srdf" / -->   
     <param name="use_gui" value="$(arg gui)"/>
     <param name="rate" value="50.0"/>
     
        
     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
     <param name="publish_default_efforts" value="True"/>
     </node>

    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="250.0" />
    </node> 

</launch>
